apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather-ml-app-deployment
  labels:
    app: weather-ml-app
spec:
  replicas: 4
  selector:
    matchLabels:
      app: weather-ml-app
  template:
    metadata:
      labels:
        app: weather-ml-app
    spec:
      containers:
        - name: weather-ml-app
          image: jstephxn/weather-ml-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          livenessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 3
            periodSeconds: 5
